# Introduction to Pandas

In [60]:
'''Pandas is a Python library.

Pandas is used to analyze data'''

#It has functions for analyzing, cleaning, exploring, and manipulating data.

'Pandas is a Python library.\n\nPandas is used to analyze data'

Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

In [61]:
import pandas

mydataset = {'cars': ["BMW", "KIA", "AUDI"],'rank': [4, 7, 2]}
myvar = pandas.DataFrame(mydataset)

print(myvar)

   cars  rank
0   BMW     4
1   KIA     7
2  AUDI     2

In [62]:
import pandas as pd

mydataset = {'cars': ["BMW", "KIA", "AUDI"],'rank': [4, 7, 2]}
myvar1 = pd.DataFrame(mydataset)

print(myvar1)

   cars  rank
0   BMW     4
1   KIA     7
2  AUDI     2

In [63]:

mydataset = {'Name': ["Joe", "Tresa", "Alan"],'Score': [40, 36, 45]}
myvar2 = pd.DataFrame(mydataset)

print(myvar2)

    Name  Score
0    Joe     40
1  Tresa     36
2   Alan     45

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [64]:
#Create a simple Pandas Series from a list:

a = [4, 7, 2]
var = pd.Series(a)

print(var)

0    4
1    7
2    2
dtype: int64

In [65]:
print("variable values=",var[0])

variable values= 4

In [66]:
var[0]

4

In [67]:
a = [4, 7, 2]

var1 = pd.Series(a, index = ["x", "y", "z"])
print(var1)

x    4
y    7
z    2
dtype: int64

In [68]:
print(var1["z"])

2

In [69]:
calories = {"day1": 430, "day2": 370, "day3": 400}

var2 = pd.Series(calories)
print(var2)

day1    430
day2    370
day3    400
dtype: int64

DataFrames

In [70]:
#A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
calories = {"day1": 430, "day2": 370, "day3": 400}

var3 = pd.Series(calories, index = ["day1", "day2"])
print(var3)

day1    430
day2    370
dtype: int64

In [71]:
data = {"calories": [430, 370, 400],"duration": [60, 45, 40]}

var4 = pd.DataFrame(data)
print(var4)

   calories  duration
0       430        60
1       370        45
2       400        40

In [72]:
#refer to the row index:
print(var4.loc[0])

calories    430
duration     60
Name: 0, dtype: int64

In [73]:
#use a list of indexes:
print(var4.loc[[0, 1]])

   calories  duration
0       430        60
1       370        45

In [74]:
data = {"calories": [430, 370, 400],"duration": [60, 45, 40]}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       430        60
day2       370        45
day3       400        40

In [75]:
print(df.loc["day2"])

calories    370
duration     45
Name: day2, dtype: int64

# Analyzing DataFrames

In [76]:
df = pd.read_csv('data.csv')

#1st 10 rows
print(df.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [77]:
#last 5 rows
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [78]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [79]:
df.tail(2)

     Duration  Pulse  Maxpulse  Calories
167        75    120       150     320.4
168        75    125       150     330.4

In [80]:
df.shape

(169, 4)

In [81]:
df.isnull()

     Duration  Pulse  Maxpulse  Calories
0       False  False     False     False
1       False  False     False     False
2       False  False     False     False
3       False  False     False     False
4       False  False     False     False
..        ...    ...       ...       ...
164     False  False     False     False
165     False  False     False     False
166     False  False     False     False
167     False  False     False     False
168     False  False     False     False

[169 rows x 4 columns]

In [82]:
df.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [83]:
df.isna().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

# Analysing Excel data

In [84]:
dt = pd.read_excel('data.xlsx')

#1st 10 rows
df.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [85]:
print('Health Data')
print(dt.tail(4))

Health Data
     Duration  Pulse  Maxpulse  Calories
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [86]:
df.shape

(169, 4)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [88]:
dt.isna().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64