# Assignment operators

operator "="

In [160]:
x = 63

print(x)

63

operator "+="

In [1]:
#adds 7+3   
#x = x + 3
x = 7

x += 3

print(x)

10

operator "-="

In [162]:
#x = x - 2
x = 8

x -= 2

print(x)

6

operator "*="

In [163]:
x = 9

x *= 4

print(x)

36

operator "/="

In [164]:
x = 10

x /= 2

print(x)

5.0

In [165]:
x = 15

x /= 2

print(x)

7.5

operator"%=""

In [166]:
#x = x % 3
x = 5 

x%=3

print(x)

2

In [167]:
x = 5 

x%=2

print(x)

1

operator "**"

In [168]:
x = 3

x **= 4

print(x)

81

In [169]:
3*3*3*3

81

operator"//=""

In [170]:
x = 5

x//=3

print(x)

1

In [171]:
#the floor division // rounds the result down to the nearest whole number
x = 18
y = 4

print(x // y)

4

In [172]:
18/4

4.5

# Comparison Operator

In [173]:
#Equal
#x == y
x = 15
y = 3

print(x == y)

False

In [174]:
x = 3
y = 3

print(x == y)

True

In [175]:
#Not equal
#x != y
x = 15
y = 3

print(x != y)

True

In [176]:
x = 3
y = 3

print(x != y)

False

In [177]:
#Greater than   x > y
x = 15
y = 3

print(x > y)

True

In [178]:
#Less than   x < y
x = 15
y = 3

print(x < y)

False

In [179]:
#Greater than or equal to  x >= y
x = 15
y = 3

print(x >= y)

True

In [180]:
#Less than or equal to   x <= y
x = 15
y = 3

print(x <= y)

False

In [181]:
x = 15
y = 15

print(x <= y)

True

# Logical Operators

In [182]:
#and
#Returns True if both statements are true
x = 15

print(x > 3 and x < 10)

False

In [183]:
x = 9

print(x > 3 and x < 10)

True

In [184]:
x = 1

print(x > 3 and x < 10)

False

In [185]:
#or 
#Returns True if one of the statements is true

x = 5

print(x > 3 or x < 4)

True

In [186]:
x = 1

print(x > 3 or x < 4)

True

In [187]:
x = 10

print(x > 3 or x < 4)

True

In [188]:
#not
#Reverse the result, returns False if the result is true
# returns False because not is used to reverse the result
x = 5

print(not(x > 3 and x < 10))

False

In [189]:
x = 15

print(not(x > 3 and x < 10))

True

In [190]:
x = 1

print(not(x > 3 and x < 10))

True

# Identity Operators

In [191]:
#is 
#Returns True if both variables are the same object

x = ["Jon", "Lin"]
y = ["Jon", "Lin"]
z = x

print(x is z)

True

In [192]:
print(x is y)

False

In [193]:
print(x == y)

True

In [194]:
#is not
#Returns True if both variables are not the same object

In [195]:
x = ["Jon", "Lin"]
y = ["Jon", "Lin"]
z = x

print(x is not z)

False

In [196]:
print(x is not y)

True

In [197]:
print(x != y)

False

# Membership Operators

In [198]:
#in 
#Returns True if a sequence with the specified value is present in the object

x = ["Jon", "Lin"]
print('Jon' in x)

True

In [199]:
#not in
#Returns True if a sequence with the specified value is not present in the object

x = ["Jon", "Lin"]
print('Jon' not in x)

False

In [200]:
print('Fin' not in x)

True

# Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:

In [201]:
print((3 + 2) - (3 + 2))

0

In [202]:
print((60 + 23) + (60 + 23))

166

# Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions

In [203]:
print(10 + 2 * 1)

12

In [204]:
print(100 + 50 * 30)

1600

# Addition + and subtraction - has the same precedence, and therefor we evaluate the expression from left to right

In [205]:
print(1 + 4 - 3 + 7)

9

In [206]:
print(15 + 14 - 17 + 13)

25