# operators

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

# Arithmetic operators

# addition

In [1]:
x = 3
y = 7

print(x + y)

10

In [2]:
a=2
b=10
c=a+b
c

12

# or

In [1]:
num1=input('first number:')

first number:1

In [2]:
#back slash is given to come to next line
num2=input('\nSecond number:')

Second number:12

In [3]:
#string converting to float
sum=float(num1)+float(num2)
sum

13.0

In [6]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the Sum of {0} and {1} is {2}' .format(num1,num2,sum))

the Sum of 2 and 10 is 12.0

# subtraction

In [7]:
a=2
b=10
c=b-a
c

8

# or

In [8]:
num1=input('first number:')

first number:2

In [9]:
## back slash is given to come to next line
num2=input('\nSecond number:')

Second number:10

In [10]:
#string converting to float
sub=float(num1)-float(num2)
sub

-8.0

In [11]:

#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the subracted value of {0} and {1} is {2}' .format(num1,num2,sub))

the subracted value of 2 and 10 is -8.0

# multiplication

In [12]:
x = 6
y = 13
print(x*y)

78

In [13]:
a=2
b=10
c=a*b
c

20

# or

In [14]:
num1=input('first number:')

first number:2

In [15]:
#back slash is given to come to next line
num2=input('\nSecond number:')

Second number:10

In [16]:
#string converting to float
Mul=float(num1)*float(num2)
Mul

20.0

In [17]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the Multiplied value of {0} and {1} is {2}' .format(num1,num2,Mul))

the Multiplied value of 2 and 10 is 20.0

# division

In [18]:
a=2
b=10
c=b/a
c

5.0

# or

In [19]:
num1=input('first number:')

first number:2

In [20]:
#back slash is given to come to next line
num2=input('\nSecond number:')

Second number:10

In [21]:
#string converting to float
div=float(num1)/float(num2)
div

0.2

In [22]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the divided value of {0} and {1} is {2}' .format(num1,num2,div))

the divided value of 2 and 10 is 0.2

# modulus

In [23]:
#the remainder obtained
x = 5
y = 2

print(x % y)

1

In [24]:
x = 5
y = 3

print(x % y)

2

In [25]:
x = 10
y = 2

print(x % y)

0

In [26]:
x = 17
y = 2

print(x % y)

1

# Exponentiation

In [27]:
#2 ^ 5
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [28]:
#2 ^ 5 = 2*2*2*2*2

In [29]:
2*2*2*2*2

32

In [30]:
x = 3
y = 6
print(x**y)

729

In [31]:
3*3*3*3*3*3

729

# Floor division

In [32]:
x = 18
y = 4

print(x // y)

#the floor division // rounds the result down to the nearest whole number

4

In [33]:
18/4

4.5

In [34]:
c=63
d=2
print(c//d)

31

In [35]:
63/2

31.5