# Data types

## Numerical data types
1.Integers
2.Float
3.Complex Numbers
4.Boolean

In [5]:
# 1. Integers = are used to represent whole number values.
x = 1000
b = 10000

type(x)
type(b)

int

In [6]:
# 2. Float = data type is used to represent decimal point values.

x = 123.5
y = 13.13
type(x)
type(y)

float

In [7]:
# 3. Complex = numbers are used to represent imaginary values.

z = 12+4j
type(z)

complex

In [8]:
n=14-5j
type(n)

complex

In [9]:
# 4. Boolean = is used for categorical output, since the output of boolean is either true or false.

Boo = 9>7
#Boo is the boolean variable

type(Boo)
#the output will be bool

print(Boo)
#this will print true.

True

In [10]:
n=12>8
type(n)

bool

In [11]:
print(n)

True

In [12]:
l=20<10
print(l)

False

In [13]:
m=20<=20
print(m)

True

# string

In [14]:
#Strings in python are used to represent unicode character values. a single character is also considered as a string.
#We denote or declare the string values inside single quotes or double quotes. 
#To access the values in a string, we use the indexes and square brackets.
string = 'Strategist'
string

'Strategist'

In [15]:
string(2)

TypeError: 'str' object is not callable

In [16]:
string[2]

'r'

In [17]:
string[5]

'e'

In [18]:
string[0]

'S'

Basic operations using string

In [19]:
string = 'Hai From Strategist'
#will make the letters to uppercase
string.upper()

'HAI FROM STRATEGIST'

In [20]:
#will make the letters to lowercase
string.lower()

'hai from strategist'

In [21]:
#will return the strings starting at index 2 until the index 16.
string[2:16]

'i From Strateg'

# complex data types.

Lists

Tuple, set and dictionary are the other collection data type is python.

A list is ordered and changeable.

To declare a list we use the square brackets.

In [22]:
list = [20,15,25,10,30,5,'pinki', 'brownie']
#will get the values from index 1 until index 5.
list[1:5]

[15, 25, 10, 30]

In [23]:
list[2:6]

[25, 10, 30, 5]

In [24]:
list[3:7]

[10, 30, 5, 'pinki']

In [25]:
#will replace the value at the index 6.
list[6]='zimba'
list

[20, 15, 25, 10, 30, 5, 'zimba', 'brownie']

In [26]:
list[7]='jimmy'
list

[20, 15, 25, 10, 30, 5, 'zimba', 'jimmy']

In [27]:
#will add the value at the end of the list.
list.append('blacky')
list

[20, 15, 25, 10, 30, 5, 'zimba', 'jimmy', 'blacky']

In [28]:
#will add the value at the index 4.
list.insert(4,'pekky')
list

[20, 15, 25, 10, 'pekky', 30, 5, 'zimba', 'jimmy', 'blacky']

In [29]:
list.insert(6,'pinki')
list

[20, 15, 25, 10, 'pekky', 30, 'pinki', 5, 'zimba', 'jimmy', 'blacky']

In [30]:
list1=['France', 'Germany', 'Australia', 'UK', 'Canada']
list1

['France', 'Germany', 'Australia', 'UK', 'Canada']

In [31]:
list1.insert(3,"USA")
list1

['France', 'Germany', 'Australia', 'USA', 'UK', 'Canada']

List Operations In Python

append

clear

copy

count

extend

insert

index

pop

remove

reverse

sort

In [32]:
A=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [33]:
#Append
#the output will have 88 at the end of the list.

A.append(88)
A

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 88]

In [34]:
#Clear
#this will clear the list or empty the list.

A.clear()
A

[]

In [35]:
#Copy
#it makes the copy of the list.
A.copy()
A

[]

In [36]:
A=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [37]:
#Extend
B=[10,20]
#this will add the values in this list from the iterable object range.
A.extend(B)
A

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 10, 20]

In [38]:
#Insert
#this will add the value at the index value given
A.insert(1,'apple')
A

[10, 'apple', 20, 30, 40, 50, 60, 70, 80, 90, 100, 10, 20]

In [39]:
#Pop
#this will pop the value from the  end of the list
A.pop()
A

[10, 'apple', 20, 30, 40, 50, 60, 70, 80, 90, 100, 10]

In [40]:
#Remove
#this will remove value from the list
A.remove(70)
A

[10, 'apple', 20, 30, 40, 50, 60, 80, 90, 100, 10]

In [41]:
#Reverse

#this will reverse the list.
A.reverse()
A

[10, 100, 90, 80, 60, 50, 40, 30, 20, 'apple', 10]

In [42]:
A.pop(9)
A

[10, 100, 90, 80, 60, 50, 40, 30, 20, 10]

In [43]:
#Sort
#it will get a sorted list as a result.
A.sort()
A

[10, 10, 20, 30, 40, 50, 60, 80, 90, 100]

In [44]:
#slicing list 
A[1:3]

#it will get all the numbers starting from index 5 to index 10.

A[5:10]
#this will print all the numbers starting from index 2 until the end of the list.
A[2:]

#this will print all the numbers from index 0 until the index 6.
A[0:6]

[10, 10, 20, 30, 40, 50]

# Tuples

collection which is unchangeable or immutable

To declare a tuple we use the round brackets.

In [45]:
tuple=(10,20,10,30,20,40,30,50,30)
#to count the number of elements
tuple.count(10)
tuple.count(30)

#to find the index
tuple.index(50)

7

In [46]:
tuple=(10,20,10,30,20,40,30,50,30)
#to count the number of elements
tuple.count(10)
tuple.count(30)

3

In [47]:
tuple.count(20)

2

In [48]:
tuple.count(30)
tuple.index(30)

3

# sets

A set is a collection which is unordered

To declare a set in python we use the curly brackets.

In [49]:
set={10,20,10,30,20,40,30,50,30}
#will get all the values.
for x in set:
 print(x)

50
20
40
10
30

In [50]:
for x in set:
  print(x)

50
20
40
10
30

In [51]:
20 in set
#will  return true if the value is in the set.

True

In [52]:
60 in set

False

In [53]:
#add a value in a set
set.add('pekky')
set

{10, 20, 30, 40, 50, 'pekky'}

In [54]:
set.add(100)
set

{10, 100, 20, 30, 40, 50, 'pekky'}

In [55]:
100 in set

True

In [56]:
#to remove an item from a set
set.remove('pekky')
set

{10, 20, 30, 40, 50, 100}

In [57]:
set1={1,2,3}
set2={2,3,4}
set1.issubset(set2)
#to check subset or not

False

In [58]:
#this will return a set with the union of the two sets.
set1.union(set2)

{1, 2, 3, 4}

# Dictionary

In [59]:
# we created a dictionary now, with key: name, email, phone number
# and values christy, kichu@gmail.com, 7000070000
dict1={"Name" :"Christy",
       "Email" :"kichu2gmail.com",
       "Phone number": "7000070000"}
dict1

{'Name': 'Christy', 'Email': 'kichu2gmail.com', 'Phone number': '7000070000'}

In [60]:
# now to seperately call each key from the dictionary we can use the code
a=dict1['Phone number']
a

'7000070000'

In [61]:
# change value in the dictionary
dict1["Name"]="Catherine"
print(dict1)

{'Name': 'Catherine', 'Email': 'kichu2gmail.com', 'Phone number': '7000070000'}

In [62]:
dict1["Email"]="kathieee2gmail.com"
print(dict1)

{'Name': 'Catherine', 'Email': 'kathieee2gmail.com', 'Phone number': '7000070000'}

In [63]:
#To get Key words headings
for x in dict1:
  print(x)

Name
Email
Phone number

In [64]:
#To get value 
for x in dict1:
  print(dict1[x])

Catherine
kathieee2gmail.com
7000070000

In [65]:
# to get both key and values
for x,y in dict1.items():
  print(x,y)

Name Catherine
Email kathieee2gmail.com
Phone number 7000070000

In [66]:
# to get the length of dictionary
print(len(dict1))

3

In [67]:
# to add some more key and values into dictionary
dict1["Age"]=20
print(dict1)

{'Name': 'Catherine', 'Email': 'kathieee2gmail.com', 'Phone number': '7000070000', 'Age': 20}

In [68]:
print(len(dict1))

4

In [69]:
dict1["Place"]="Angamaly"
print(dict1)

{'Name': 'Catherine', 'Email': 'kathieee2gmail.com', 'Phone number': '7000070000', 'Age': 20, 'Place': 'Angamaly'}

In [70]:
print(len(dict1))

5

In [71]:
#to remove value 
dict1.pop("Email")
dict1

{'Name': 'Catherine',
 'Phone number': '7000070000',
 'Age': 20,
 'Place': 'Angamaly'}

In [72]:
#to delet from dictionary
del dict1["Place"]
dict1

{'Name': 'Catherine', 'Phone number': '7000070000', 'Age': 20}