# Statistics using pandas package

In [1]:
import pandas as pd
z=pd.DataFrame(data={'values': [2,4,6,8,10,2,6,10,12,14,1,3,5,7,9,11]})
z

    values
0        2
1        4
2        6
3        8
4       10
5        2
6        6
7       10
8       12
9       14
10       1
11       3
12       5
13       7
14       9
15      11

# Measure of central tendency

In [2]:
z.mean()

values    6.875
dtype: float64

In [3]:
z.describe()

          values
count  16.000000
mean    6.875000
std     3.913651
min     1.000000
25%     3.750000
50%     6.500000
75%    10.000000
max    14.000000

In [4]:
z.median()

values    6.5
dtype: float64

In [5]:
z.mode()

   values
0       2
1       6
2      10

# Measure of Dispersion

In [6]:
z.var()

values    15.316667
dtype: float64

In [7]:
z.std()

values    3.913651
dtype: float64

# 5 number Summary


1.Minimum
2.1st quartile -Q1
3.2nd quartile -Q2(Median)
4.3rd quartile -Q3
5.Maximum

In [8]:
z.min()

values    1
dtype: int64

In [9]:
#quartiles
z.quantile([0.25,0.50,0.75])

      values
0.25    3.75
0.50    6.50
0.75   10.00

In [10]:
#percentiles
z.quantile([0.10,0.50,0.90])

     values
0.1     2.0
0.5     6.5
0.9    11.5

In [11]:
z.max()

values    14
dtype: int64

# Range

In [12]:
Range = z.max()-z.min()
Range

values    13
dtype: int64

# IQR

In [13]:
iqr=z.quantile(0.75)-z.quantile(0.25)
iqr

values    6.25
dtype: float64

# QD

In [14]:
qd =iqr/2
qd

values    3.125
dtype: float64