# Hypothesis Testing

Parametric test = data should be normal

Non Parametric test= data should not be normal

A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the means of two groups which may be related in certain features

T-test has 3 types : 1. one sampled t-test 2. two-sampled t-test. 3. Paired sample T test
1. T test

   1. One sample T test 
   2. Independent sample T test 
   3. Paired sample T test

ttest_1samp - Calculates the T-test for the mean of ONE group of scores.

ttest_ind - Calculates the T-test for the means of TWO INDEPENDENT samples of scores.

ttest_rel - Calculates the T-test on TWO RELATED samples of scores, a and b.

# one sample T test 

In one sample T test one group being compared against a standard value.

The one-sample t test can be used whenever sample means must be compared to a known test value.

e.g., comparing the Final score of students with a cutoff mark 70.

   we use T-test when the population standard deviation is unknown (not given) and the sample size is small (<30)

## For example: 

If you want to test a car manufacturer’s claim that their cars give a highway mileage of 20kmpl on an average. You sample 10 cars from the dealership, measure their mileage and use the T-test to determine if the manufacturer’s claim is true.

Analyst wants to test the claim that Average Final Exam score is 70. Twenty pupils are chosen at random to measure effectiveness

Ho: Mean  = 70

H1: Mean <> 70

Or

H0 : There is No difference between sample mean and population mean

H1 : There is a difference between sample mean and population mean

In [67]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
import scipy

In [68]:
from scipy.stats import ttest_1samp

In [69]:
df=pd.read_excel('Training Efficiency.xlsx')

In [70]:
df.head()

,Class,Batch,Name,Gender,Course,laptop_availability,before_training,after_training,exam score,Status
0,1 st Year,Batch 1,ANJANA,Female,BA,Yes,13,22,924,Pass
1,1 st Year,Batch 1,JOSEPH,Male,B.Com / BBA,Yes,21,22,924,Pass
2,1 st Year,Batch 1,JOSNA,Female,B.Com / BBA,Yes,16,22,924,Pass
3,1 st Year,Batch 1,Judith,Male,BA,No,22,20,840,Pass
4,1 st Year,Batch 1,Vineetha,Female,B.Com / BBA,Yes,19,13,546,Fail

In [71]:
df.shape

(56, 10)

In [72]:
df.columns

Index(['Class', 'Batch', 'Name', 'Gender', 'Course', 'laptop_availability',
       'before_training', 'after_training', 'exam score', 'Status'],
      dtype='object')

### Hypothesis

For this data the hypothesis is stated as

• Ho: Mean  = 800

• H1: Mean != 800

In [73]:
scores=df['exam score']
scores.head()

0    924
1    924
2    924
3    840
4    546
Name: exam score, dtype: int64

In [74]:
scores_mean=np.mean(scores)
scores_mean

840.0714285714286

In [75]:
#taking a sample
sample_size=20
scores_sample=np.random.choice(scores,sample_size)
scores_sample

array([ 714,  714,  756,  546, 1000, 1000,  756,  798,  714,  924,  756,
        840,  924,  840,  714,  840,  756,  756,  798,  756], dtype=int64)

In [76]:
ttest,pvalue=ttest_1samp(scores_sample,800)

In [77]:
ttest,pvalue

(-0.20327898069860006, 0.8410781968192381)

In [78]:
print(pvalue)

0.8410781968192381

In P value method

If P value > 0.05 (significance value), Accept Ho

P Value < 0.05 (significance value), Reject Ho

In [79]:
# alpha value is 0.05 or 5% of significance level

if pvalue > 0.05:
    print("Accept Null Hypothesis (Ho: mean = 800), which means means are equal")
else:
    print("Reject Null Hypothesis (Ho) & Accept (H1)")

Accept Null Hypothesis (Ho: mean = 800), which means means are equal