In [24]:
import pandas as pd
import numpy as np
from sklearn import linear_model

# Simple Linear Regression

In [25]:
df = pd.read_excel('S_Regression.xlsx')
df

    Area     Price
0   2000   5500000
1   3500   8650000
2   1200   4500000
3   3600   7950000
4   4000  12600000
5   2300   2300000
6   3100  14500000
7   2900   3000000
8   5000  13400000
9   3400   8009000
10  4500  17600000
11  1500   3800000
12  1700   5000000
13  1000   3500000
14  1400   6800000
15  2300   9000000
16  1500   4300000
17  2400   2300000
18  5000  23400000
19  3200  12600000
20  2300   2300000
21  3200  14500000
22  1200   4500000
23  3600   7950000
24  4000  22600000
25  1700   5000000
26  1000   2500000
27  1400   7800000
28  2300   9000000
29  1500   5300000
30  2000   5800000
31  1300   2300000
32  3200  13500000
33  1200   4500000
34  3600   7950000

In [26]:
import statsmodels.formula.api as smf
formula="Q('Price')~Area"
reg1=smf.ols(formula,df).fit()
print(reg1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             Q('Price')   R-squared:                       0.601
Model:                            OLS   Adj. R-squared:                  0.589
Method:                 Least Squares   F-statistic:                     49.65
Date:                Sat, 02 Sep 2023   Prob (F-statistic):           4.60e-08
Time:                        18:15:57   Log-Likelihood:                -576.53
No. Observations:                  35   AIC:                             1157.
Df Residuals:                      33   BIC:                             1160.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1.185e+06   1.45e+06     -0.817      0.420   -4.14e+06    1.77e+06
Area        3659.4310    519.327      7.046      0.000    2602.853    4716.009
==============================================================================
Omnibus:                        0.570   Durbin-Watson:                   2.428
Prob(Omnibus):                  0.752   Jarque-Bera (JB):                0.337
Skew:                           0.237   Prob(JB):                        0.845
Kurtosis:                       2.926   Cond. No.                     6.75e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.75e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [27]:
-1.185e+06+(3659.4310*2000)          

#beta0 + Beta1 *x1

6133862.0